.qmake.cache
.qmake.stash
src/3rdparty_upstream/patches
src/3rdparty_upstream/ninja
src/3rdparty_upstream/chromium
src/core/Debug
src/core/Release
src/core/api/Release
src/core/api/Debug
src/core/gypfiles
examples/webengine/quicknanobrowser/quicknanobrowser
examples/webengine/quicknanobrowser/quicknanobrowser.app
examples/webenginewidgets/browser/browser
examples/webenginewidgets/browser/browser.app
examples/webenginewidgets/contentmanipulation/contentmanipulation
examples/webenginewidgets/contentmanipulation/contentmanipulation.app
examples/webenginewidgets/simplebrowser/simplebrowser
tests/quicktestbrowser/quicktestbrowser

tests/**/tst_*
!tests/**/tst_*.*

*.o
Makefile*
*.pro.user*
*.moc
moc_*.cpp
*.orig
*.rej
*.pak
.uic
.rcc
*.pyc
.pch
.obj

# Compiled QML/JS code
*.qmlc
*.jsc


src/core/DeepinWebEngineCore.version.in
src/webenginewidgets/DeepinWebEngineWidgets.version.in
debian/libdeepin-webengine-dev.substvars
debian/libdeepin-webengine-dev/
debian/libdeepin-webengine.substvars
debian/debhelper-build-stamp
debian/files
debian/libdeepin-webengine-dev.debhelper.log
debian/libdeepin-webengine.debhelper.log
debian/tmp/
debian/.debhelper/
debian/libdeepin-webengine/

config.log
config.tests/alsa/alsa
config.tests/khr/khr
config.tests/re2/re2
config.tests/snappy/snappy
examples/webengine/customdialogs/uic_wrapper.sh
examples/webengine/quicknanobrowser/uic_wrapper.sh
examples/webenginewidgets/contentmanipulation/uic_wrapper.sh
examples/webenginewidgets/cookiebrowser/uic_wrapper.sh
examples/webenginewidgets/demobrowser/uic_wrapper.sh
examples/webenginewidgets/html2pdf/uic_wrapper.sh
examples/webenginewidgets/maps/uic_wrapper.sh
examples/webenginewidgets/markdowneditor/uic_wrapper.sh
examples/webenginewidgets/minimal/uic_wrapper.sh
examples/webenginewidgets/simplebrowser/uic_wrapper.sh
examples/webenginewidgets/spellchecker/qwebengine_convert_dict_wrapper.sh
examples/webenginewidgets/spellchecker/uic_wrapper.sh
examples/webenginewidgets/videoplayer/uic_wrapper.sh
include/
lib/
libexec/
mkspecs/modules-inst/
mkspecs/modules/
src/core/QtWebEngineCore.version
src/core/QtWebEngineCore.version.in
src/plugins/qwebengineview/uic_wrapper.sh
src/toolchain/
src/webengine/QtWebEngine.version
src/webengine/QtWebEngine.version.in
src/webengine/plugin/qmlplugindump_wrapper.sh
src/webengine/qdoc_wrapper.sh
src/webengine/qhelpgenerator_wrapper.sh
src/webenginewidgets/QtWebEngineWidgets.version.in
src/webenginewidgets/uic_wrapper.sh
tests/auto/core/qwebenginecookiestore/target_wrapper.sh
tests/auto/core/qwebenginecookiestore/uic_wrapper.sh
tests/auto/core/qwebengineurlrequestinterceptor/target_wrapper.sh
tests/auto/core/qwebengineurlrequestinterceptor/uic_wrapper.sh
tests/auto/quick/inspectorserver/target_wrapper.sh
tests/auto/quick/publicapi/target_wrapper.sh
tests/auto/quick/qquickwebenginedefaultsurfaceformat/target_wrapper.sh
tests/auto/quick/qquickwebengineview/target_wrapper.sh
tests/auto/widgets/qwebengineaccessibility/target_wrapper.sh
tests/auto/widgets/qwebengineaccessibility/uic_wrapper.sh
tests/auto/widgets/qwebenginedefaultsurfaceformat/target_wrapper.sh
tests/auto/widgets/qwebenginedefaultsurfaceformat/uic_wrapper.sh
tests/auto/widgets/qwebenginedownloads/target_wrapper.sh
tests/auto/widgets/qwebenginedownloads/uic_wrapper.sh
tests/auto/widgets/qwebenginefaviconmanager/target_wrapper.sh
tests/auto/widgets/qwebenginefaviconmanager/uic_wrapper.sh
tests/auto/widgets/qwebenginehistory/target_wrapper.sh
tests/auto/widgets/qwebenginehistory/uic_wrapper.sh
tests/auto/widgets/qwebenginehistoryinterface/target_wrapper.sh
tests/auto/widgets/qwebenginehistoryinterface/uic_wrapper.sh
tests/auto/widgets/qwebengineinspector/target_wrapper.sh
tests/auto/widgets/qwebengineinspector/uic_wrapper.sh
tests/auto/widgets/qwebenginepage/target_wrapper.sh
tests/auto/widgets/qwebenginepage/uic_wrapper.sh
tests/auto/widgets/qwebengineprofile/target_wrapper.sh
tests/auto/widgets/qwebengineprofile/uic_wrapper.sh
tests/auto/widgets/qwebenginescript/target_wrapper.sh
tests/auto/widgets/qwebenginescript/uic_wrapper.sh
tests/auto/widgets/qwebenginesettings/target_wrapper.sh
tests/auto/widgets/qwebenginesettings/uic_wrapper.sh
tests/auto/widgets/qwebenginespellcheck/qwebengine_convert_dict_wrapper.sh
tests/auto/widgets/qwebenginespellcheck/target_wrapper.sh
tests/auto/widgets/qwebenginespellcheck/uic_wrapper.sh
tests/auto/widgets/qwebengineview/target_wrapper.sh
tests/auto/widgets/qwebengineview/uic_wrapper.sh
tests/quicktestbrowser/uic_wrapper.sh

bin/
examples/webenginewidgets/cookiebrowser/cookiebrowser
examples/webenginewidgets/demobrowser/demobrowser
examples/webenginewidgets/html2pdf/html2pdf
examples/webenginewidgets/maps/maps
examples/webenginewidgets/markdowneditor/markdowneditor
examples/webenginewidgets/minimal/minimal
examples/webenginewidgets/spellchecker/qtwebengine_dictionaries/
examples/webenginewidgets/spellchecker/spellchecker
examples/webenginewidgets/videoplayer/videoplayer
src/webenginewidgets/QtWebEngineWidgets.version
