Source: deepin-webengine
Maintainer: xushaohua<xushaohua@deepin.com>
Section: libs
Priority: optional
Build-Depends: bison,
               chrpath,
               closure-compiler,
               debhelper (>= 10),
               flex,
               gperf,
               khronos-api,
               libasound2-dev [linux-any],
               libavcodec-dev (>= 7:3.1.1),
               libavformat-dev (>= 7:3.1.1),
               libavutil-dev (>= 7:3.1.1),
               libcap-dev [linux-any],
               libdbus-1-dev,
               libegl1-mesa-dev,
               libevent-dev,
               libflac-dev,
               libfontconfig1-dev,
               libgl1-mesa-dev [!armel !armhf] | libgl-dev [!armel !armhf],
               libgl1-mesa-dri,
               libgles2-mesa-dev [armel armhf] | libgles2-dev [armel armhf],
               libglib2.0-dev,
               libglu1-mesa-dev [!armel !armhf] | libglu-dev [!armel !armhf],
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libharfbuzz-dev,
               libicu-dev,
               libjpeg-dev,
               libjsoncpp-dev,
               liblcms2-dev,
               libminizip-dev,
               libnss3-dev,
               libopus-dev,
               libpci-dev,
               libpng-dev,
               libprotobuf-dev,
               libpulse-dev,
               libqt5opengl5-dev (>= 5.6.0~),
               libqt5webchannel5-dev (>= 5.6.0~),
               libre2-dev,
               libsnappy-dev,
               libsqlite3-dev,
               libsrtp-dev,
               libusb-1.0-0-dev,
               libvpx-dev,
               libwebp-dev,
               libxcomposite-dev,
               libxcursor-dev,
               libxml2-dev,
               libxnvctrl-dev,
               libxrandr-dev,
               libxrender-dev,
               libxslt1-dev,
               libxss-dev,
               libxtst-dev,
               mesa-common-dev,
               ninja-build,
               pkg-config,
               pkg-kde-tools,
               protobuf-compiler,
               python,
               qtbase5-private-dev (>= 5.6.0~),
               qtdeclarative5-private-dev (>= 5.6.0~),
               qtpositioning5-dev,
               qttools5-dev,
               re2c,
               ruby,
               xauth,
               xvfb,
               yasm [amd64 i386],
               yui-compressor
Build-Depends-Indep: libqt5sql5-sqlite (>= 5.6.0~),
                     qtbase5-doc-html (>= 5.6.0~),
                     qttools5-dev-tools (>= 5.6.0~)
Standards-Version: 4.1.1
Vcs-Browser: https://ci.deepin.org/deepin-webengine.git
Vcs-Git: https://ci.deepin.org/deepin-webengine.git
Homepage: https://doc.qt.io/qt-5/qtwebengine-index.html

Package: libdeepin-webengine
Architecture: amd64 arm64 armhf i386 mipsel
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Web content engine library for Qt - Core
 QtWebEngine provides a Web browser engine that makes it easy to embed content
 from the World Wide Web into your Qt application.
 .
 This package contains QtWebEngine library.

Package: libdeepin-webengine-dev
Architecture: amd64 arm64 armhf i386 mipsel
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libdeepin-webengine
Pre-Depends: ${misc:Pre-Depends}
Description: Web content engine library for Qt - Core
 QtWebEngine provides a Web browser engine that makes it easy to embed content
 from the World Wide Web into your Qt application.
 .
 This package contains headers of QtWebEngine library.
